html {
    scroll-snap-type: y proximity;
}

.Nav {
    position: fixed;
    font-size: medium;
    font-weight: 450;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 5px 0;
    box-shadow: 2px 2px 2px 2px red;
    display: none;
    animation: fadeIn ease-in 0.5s;
} 

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;  
    overflow: hidden;
    background-color: transparent;
    z-index: 5;
    text-align: center;
} 

.Nav li {
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
 
} 

.Nav li a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: white;
    border-radius: 45px;
} 

.Nav li a:hover {
    color: red;
    transform: rotate(0deg) skew(0deg) translate(0, -3px);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    width: 100%;
    margin: 0;
    padding: 0;

}

body .one {
    background: black;
    height: 100vh;
    scroll-behavior: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

body .two{
    background-color: white;
    scroll-snap-align: top;
    min-height: 100vh;
    width: 100%;

}


.me {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    background-color: transparent;
    z-index: 1;
    width: 100%;

    
}

.me img:nth-child(1){
    border-radius: 30%;
    max-width: 100%;
    height: auto;
    z-index: 1;
    border: solid red;
    box-shadow: '0px 0px 0px 3px red';
    transition: box-shadow 0.1 ease, border-color 0.1 ease;
}

.rainbow {
    animation: rainbow 2s infinite;
}


@keyframes rainbow {
    0% {
        box-shadow: 0 0 40px #8c00fc;
    }
    20% {
        box-shadow: 0 0 30px #3500ff;
    }
    40% {
        box-shadow: 0 0 40px #01fe01;
    }
    60% {
        box-shadow: 0 0 30px #fffe37;
    }
    80% {
        box-shadow: 0 0 40px #ff8600;
    }
    100% {
        box-shadow: 0 0 30px #ed0003;
    }
}

.title {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 2rem; 
    color: white;
}

span {
    color: red;
    box-shadow: 0px 1px red;
}

span:hover {
    color: white;
    animation: none;
}


.down {
    position: absolute;
    font-size: 4rem;
    bottom: 0;
    top: 75%;
    left: 49%;
    text-align: center;
    justify-content: center;
    animation: none;
    color: white;
}

.bounce {
    animation: bounce 3s;
}

@keyframes bounce {
    0%,10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    70% {
        transform: translateY(-20px);
    }
    90% {
        transform: translateY(-10px);
    }
}

.Star {
    position: absolute;
    height: 300px;
    width: 250px;
    background: #EDC951;
    mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

#m {
    position: relative;
    font-size: 4rem;
    margin-top: 70px;
}

.buttons { 
    display: grid;
    border: none;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

#JS {
    width: 180px;
    height: 180px;
    transition-delay: 200ms;
    box-shadow: -4px 4px yellow;
    margin-left: 80px;
    background-image: url(pictures/JavaScript.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    opacity: 1;
    transition: 0.1s;
}

#JS:hover {
    background-image: none;
    background-color: yellow;
}

#Python {
    width: 180px;
    height: 180px;
    transition-delay: 300ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/Python.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 0.1s;

}

#Python:hover {
    background-image: none;
    background-image: linear-gradient(to bottom right, #357fb9 45%, #ffc42d 55%) 
}

#Php {
    width: 180px;
    height: 180px;
    padding: 60px 60px;
    transition-delay: 400ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/php.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 0.1s;
}

#Php:hover {
    background-image: none;
    background-color: #777bb3;
}

#SQL {
    width: 180px;
    height: 180px;
    padding: 60px 60px;
    transition-delay: 500ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/SQL.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 0.1s;
}

#SQL:hover {
    background-image: none;
    background-color: #2270b7;
}

#Html {
    width: 180px;
    height: 180px;
    padding: 60px 60px;
    transition-delay: 600ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/HTML.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 0.1s;
}

#Html:hover {
    background-image: none;
    background-color: #e54c21;
}

#Github {
    width: 180px;
    height: 180px;
    padding: 60px 60px;
    transition-delay: 700ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/git.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 0.1s;
}

#Github:hover {
    background-image: none;
    background-color: #101315;
}

#BootStrap {
    width: 180px;
    height: 180px;
    padding: 60px 60px;
    transition-delay: 800ms;
    box-shadow: -2px 2px red;
    margin-left: 80px;
    background-image: url(pictures/BOOTSTRAP.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    transition: 1s;
}

#BootStrap:hover {
    background-image: none;
    background-image: linear-gradient(to top right,#150737, #5d2e52 );
}
